{% extends "base/home.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% static 'images/rj.png' %}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Raeceph Jude Sayson</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-red"></i>Full Stack Software Engineer || Aspiring Data Scientist</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-red"></i>Cebu City, Bacolod City Philippines</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-red"></i>raecephsayson@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-red"></i>+639495796628</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-red"></i>Skills</b></p>
          <p>Python, Java , C#</p>
          <p>Django, Flask</p>
          <p>Machine Learning, Data Science</p>
          <p>Applications  & Web Development</p>
          <p>Testing and debugging</p>
          <p>Windows, Cent Os, Ubuntu, Expert</p>
          <p>PostgreSQL, MSSQL</p>
          <p>MongoDB ,MySQL</p>
          <p>SVN, Github ,TFS, GIT</p>
          <p>Scikit Learn, Numpy, Pandas, </p>
          <p>Data Entry , Excel Dashboards </p>
          

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-red"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-red" style="height:24px;width:100%"></div>
          </div>
          <p>Filipino</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-red" style="height:24px;width:100%"></div>
          </div>
        
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Developer</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan - Dec 2014</h6>
          <p><b>Project-Based:</b> Python Developer</p>
            <p><b>Role:</b> Developer  || Team Size: 2 member || Lifecycle: Project -based</p>
            <p><b>Details: </b> E-Commerce </h6>
            <p><b>Technologies:</b> GITHUB, Python , DJango</b></p>
           <p> <b>Responsibilities:</b></p>
                <p>Creates Prototypes  using balsamiq</p>
                    <p>Creates  CRUD module for ordering products</p>
                        <p>Implemented user registration and account with django framework.</p>
                            <p>Proposed methodologies and best practices that improved product definition and customization for assigned projects</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
            <p>Project-Based: DEV-OPS</p>
        </p>   Role: Developer  || Team Size: 12 member || Lifecycle: BDD</p>
        </p>    Details:  Test automation using Java and cucumber statements to check URI behavior.</p>
        </p>   Technologies: Java, Ruby,  Gitlab Runner, Jira, Grafana UI</p>
        </p> Responsibilities:</p>
        </p>  Creates XML Test Script using cucumber statements to test System User Interface</p>
        </p>  Performs Code review and debugging.</p>
        </p> Refactored the codes for unit testing and proposed efficient alternatives</p>
                
         
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>W3Schools.com</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Forever</h6>
          <p>Web Development! All I need to know in one place</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>London Business School</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2015</h6>
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>School of Coding</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010 - 2013</h6>
          <p>Bachelor Degree</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

</body>
</html>

{% endblock %}